
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>@ViewData["Title"] - TechExpress</title>



	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-grid.min.css" />
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-reboot.min.css" />
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-grid.rtl.min.css" />
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-reboot.rtl.min.css" />
	<link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-utilities.min.css" />

	<link rel="stylesheet" href="~/css/bootstrap.min.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/font-awesome.min.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/nouislider.min.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/slick-theme.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/slick.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/cart.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/profile.css" asp-append-version="true" />

	@* Main Css File *@
	<link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />

	@* Fonts *@
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

	@* Favicon *@
	<link rel="icon" type="image/png" href="~/img/favicon.png" />

</head>
<body>
	<header>
		<!-- TOP HEADER -->
		<div id="top-header">
			<div class="container">
				<ul class="header-links pull-left">
					<li><a href="#"><i class="fa fa-phone"></i> +021-95-51-84</a></li>
					<li><a href="#"><i class="fa fa-envelope-o"></i> email@email.com</a></li>
					<li><a href="#"><i class="fa fa-map-marker"></i> 1734 Stonecoal Road</a></li>
				</ul>
				<ul class="header-links pull-right">
					<li><a href="#"><i class="fa fa-dollar"></i> USD</a></li>
					<li><a asp-controller="Account" asp-action="SignUp" ><i class="fa fa-lock"></i> Sign Up</a></li>
					<li><a asp-controller="Profile" asp-action="Index" ><i class="fa fa-user-o"></i> My Account</a></li>
					<li><a asp-controller="Admin" asp-action="Index"><i class="fa fa-dashboard"></i> dashboard</a></li>
				</ul>
			</div>
		</div>
		<!-- /TOP HEADER -->
		<!-- MAIN HEADER -->
		<div id="header">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row align-items-center">
					<!-- LOGO -->
					<div class="col-md-3 col-sm-4 col-6">
						<div class="header-logo">
							<a asp-controller="Home" asp-action="Index" class="logo">
								<p style="font-size: 30px; color: #fff; font-weight: bold; margin-bottom: 0;">Tech<span style="color:#d10024">X</span>press.</p>
							</a>
						</div>
					</div>
					<!-- /LOGO -->
					<!-- SEARCH BAR -->
					<div class="col-md-6 col-sm-8 col-12 mt-2 mt-sm-0">
						<div class="header-search">
							<form method="get" asp-controller="Categories" asp-action="Index">
								<select class="input-select" name="Id">

									<option value="0">All Categories</option>
									@foreach (var category in ViewBag.Categories)
									{
										<option value="@category.Id">@category.Name</option>
									}
								</select>
								<input class="input" placeholder="Search here" name="ProductName">
								<button class="search-btn">Search</button>
							</form>
						</div>
					</div>
					<!-- /SEARCH BAR -->
					<!-- ACCOUNT -->
					<div class="col-md-3 col-sm-12 col-6 clearfix mt-2 mt-md-0">
						<div class="header-ctn">
							<!-- Wishlist -->
							<div>
								<a asp-controller="Wishlist" asp-action="Index">
									<i class="fa fa-heart-o"></i>
									<span>Wishlist</span>
									<div class="qty">2</div>
								</a>
							</div>
							<!-- /Wishlist -->
							<!-- Cart -->
							<div class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
									<i class="fa fa-shopping-cart"></i>
									<span>Cart</span>
									<div class="qty">3</div>
								</a>
								<div class="cart-dropdown">
									<div class="cart-list">
										<div class="product-widget">
											<div class="product-img">
												<img src="./img/product01.png" alt="">
											</div>
											<div class="product-body">
												<h3 class="product-name"><a href="#">product name goes here</a></h3>
												<h4 class="product-price"><span class="qty">1x</span>$980.00</h4>
											</div>
											<button class="delete"><i class="fa fa-close"></i></button>
										</div>

										<div class="product-widget">
											<div class="product-img">
												<img src="./img/product02.png" alt="">
											</div>
											<div class="product-body">
												<h3 class="product-name"><a href="#">product name goes here</a></h3>
												<h4 class="product-price"><span class="qty">3x</span>$980.00</h4>
											</div>
											<button class="delete"><i class="fa fa-close"></i></button>
										</div>
									</div>
									<div class="cart-summary">
										<small>3 Item(s) selected</small>
										<h5>SUBTOTAL: $2940.00</h5>
									</div>
									<div class="cart-btns">
										<a asp-controller="Cart" asp-action="Index">View Cart</a>
										<a asp-controller="Checkout" asp-action="Index">Checkout  <i class="fa fa-arrow-circle-right"></i></a>
									</div>
								</div>
							</div>
							<!-- /Cart -->
							<!-- Menu Toogle -->
							<div class="menu-toggle">
								<a href="#">
									<i class="fa fa-bars"></i>
									<span>Menu</span>
								</a>
							</div>
							<!-- /Menu Toogle -->
						</div>
					</div>
					<!-- /ACCOUNT -->
				</div>
				<!-- row -->
			</div>
			<!-- container -->
		</div>
		<!-- /MAIN HEADER -->
	</header>
	<!-- /HEADER -->
	<!-- NAVIGATION -->
	<nav id="navigation">
		<!-- container -->
		<div class="container">
			<!-- responsive-nav -->
			<div id="responsive-nav">
				<!-- NAV -->
				<ul class="main-nav nav navbar-nav">
					<li><a asp-controller="Home" asp-action="Index">Home</a></li>
					<li><a href="#hot-deal">Hot Deals</a></li>
					<li><a asp-controller="Categories" asp-action="Index" asp-route-id="0">All</a></li>

					@if (ViewBag.Categories != null)
					{
						foreach (var category in ViewBag.Categories)
						{
							<li>
								<a asp-controller="Categories" asp-action="Index" asp-route-id="@category.Id">
									@category.Name
								</a>
							</li>
						}
					}
				</ul>
				<!-- /NAV -->
			</div>
			<!-- /responsive-nav -->
		</div>
		<!-- /container -->
	</nav>
	<!-- /NAVIGATION -->
	<div >
		<main role="main" class="pb-3">
			@RenderBody()
			
		</main>
	</div>

	<!-- NEWSLETTER -->
	<div id="newsletter" class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<div class="col-md-12">
					<div class="newsletter">
						<p>Sign Up for the <strong>NEWSLETTER</strong></p>
						<form>
							<input class="input" type="email" placeholder="Enter Your Email">
							<button class="newsletter-btn"><i class="fa fa-envelope"></i> Subscribe</button>
						</form>
						<ul class="newsletter-follow">
							<li>
								<a href="#"><i class="fa fa-facebook"></i></a>
							</li>
							<li>
								<a href="#"><i class="fa fa-twitter"></i></a>
							</li>
							<li>
								<a href="#"><i class="fa fa-instagram"></i></a>
							</li>
							<li>
								<a href="#"><i class="fa fa-pinterest"></i></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /NEWSLETTER -->
	<!-- FOOTER -->
	<footer id="footer">
		<!-- top footer -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-3 col-xs-6">
						<div class="footer">
							<h3 class="footer-title">About Us</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
							<ul class="footer-links">
								<li><a href="#"><i class="fa fa-map-marker"></i>1734 Stonecoal Road</a></li>
								<li><a href="#"><i class="fa fa-phone"></i>+021-95-51-84</a></li>
								<li><a href="#"><i class="fa fa-envelope-o"></i>email@email.com</a></li>
							</ul>
						</div>
					</div>

					<div class="col-md-3 col-xs-6">
						<div class="footer">
							<h3 class="footer-title">Categories</h3>
							<ul class="footer-links">
								<li><a href="#">Hot deals</a></li>
								<li><a asp-controller="Categories" asp-action="Index" asp-route-id="2">Laptops</a></li>
								<li><a asp-controller="Categories" asp-action="Index" asp-route-id="1">Smartphones</a></li>
								<li><a asp-controller="Categories" asp-action="Index" asp-route-id="3">Cameras</a></li>
								<li><a asp-controller="Categories" asp-action="Index" asp-route-id="4">Accessories</a></li>
							</ul>
						</div>
					</div>

					<div class="clearfix visible-xs"></div>

					<div class="col-md-3 col-xs-6">
						<div class="footer">
							<h3 class="footer-title">Information</h3>
							<ul class="footer-links">
								<li><a href="#">About Us</a></li>
								<li><a href="#">Contact Us</a></li>
								<li><a href="#">Privacy Policy</a></li>
								<li><a href="#">Orders and Returns</a></li>
								<li><a href="#">Terms & Conditions</a></li>
							</ul>
						</div>
					</div>

					<div class="col-md-3 col-xs-6">
						<div class="footer">
							<h3 class="footer-title">Service</h3>
							<ul class="footer-links">
								<li><a href="#">My Account</a></li>
								<li><a href="#">View Cart</a></li>
								<li><a href="#">Wishlist</a></li>
								<li><a href="#">Track My Order</a></li>
								<li><a href="#">Help</a></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /top footer -->
		<!-- bottom footer -->
		<div id="bottom-footer" class="section">
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12 text-center">
						<ul class="footer-payments">
							<li><a href="#"><i class="fa fa-cc-visa"></i></a></li>
							<li><a href="#"><i class="fa fa-credit-card"></i></a></li>
							<li><a href="#"><i class="fa fa-cc-paypal"></i></a></li>
							<li><a href="#"><i class="fa fa-cc-mastercard"></i></a></li>
							<li><a href="#"><i class="fa fa-cc-discover"></i></a></li>
							<li><a href="#"><i class="fa fa-cc-amex"></i></a></li>
						</ul>
						<span class="copyright">
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						</span>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /bottom footer -->
	</footer>
	<!-- /FOOTER -->
	<!-- jQuery Plugins -->
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/bootstrap.min.js" asp-append-version="true"></script>
	<script src="~/js/jquery.min.js" asp-append-version="true"></script>
	<script src="~/js/jquery.zoom.min.js" asp-append-version="true"></script>
	<script src="~/js/nouislider.min.js" asp-append-version="true"></script>
	<script src="~/js/slick.min.js" asp-append-version="true"></script>
	<script src="~/js/main.js" asp-append-version="true"></script>

	<!-- Validation Scripts -->
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

	
	<script>
		$(document).ready(function() {
			// Log current URL for debugging
			console.log("Current URL:", window.location.href);

			// Set active class on page load
			setActiveNavItem();

			// Handle click events
			$('.main-nav li a').on('click', function() {
				$('.main-nav li').removeClass('active');
				$(this).parent('li').addClass('active');
			});
				$('.search-btn').on('click', function() {
				$('.main-nav li').removeClass('active');
				$(this).parent('li').addClass('active');
			});

			function setActiveNavItem() {
				// Get current URL information
				var fullUrl = window.location.href;
				var path = window.location.pathname;

				// Extract category ID from both query string and route
				var categoryId = null;

				// Check query string first (e.g., /Categories/Index?id=1)
				var urlParams = new URLSearchParams(window.location.search);
				if (urlParams.has('id')) {
					categoryId = urlParams.get('id');
					console.log("Category ID from query string:", categoryId);
				}
				// Then check route segments (e.g., /Categories/Index/1 or /Categories/1)
				else {
					var segments = path.split('/').filter(function(segment) {
						return segment.length > 0;
					});

					// If we have a path like /Categories/1 or /Categories/Index/1
					if (segments.length >= 2 && segments[0].toLowerCase() === 'categories') {
						var lastSegment = segments[segments.length - 1];
						if (!isNaN(lastSegment)) {
							categoryId = lastSegment;
							console.log("Category ID from route:", categoryId);
						}
					}
				}

				// Remove active class from all items
				$('.main-nav li').removeClass('active');

				// Log all navigation links for debugging
				console.log("Navigation links:");
				$('.main-nav li a').each(function() {
					console.log($(this).text() + " - " + $(this).attr('href'));
				});

				// Set active class based on current page
				if (path.toLowerCase().includes('/categories')) {
					console.log("On Categories page with ID:", categoryId);

					// If no category ID or ID is 0, highlight "All" category
					if (!categoryId || categoryId === '0') {
						// Find the "All" link
						var allCategoryFound = false;
						$('.main-nav li a').each(function() {
							var href = $(this).attr('href');
							if ($(this).text().trim() === 'All' ||
								(href && (href.includes('/Categories') || href.includes('/categories')) &&
								 (href.includes('id=0') || href.endsWith('/0')))) {
								$(this).parent().addClass('active');
								allCategoryFound = true;
								console.log("Set 'All' category as active");
								return false;
							}
						});

						if (!allCategoryFound) {
							// Fallback: find the third link (usually "All")
							$('.main-nav li:eq(2)').addClass('active');
							console.log("Fallback: Set third nav item as active");
						}
					} else {
						// For specific category, compare by ID
						var categoryFound = false;
						$('.main-nav li a').each(function() {
							var href = $(this).attr('href');
							if (href) {
								// Check for ID in query string format
								if (href.includes('id=' + categoryId)) {
									$(this).parent().addClass('active');
									categoryFound = true;
									console.log("Set category active by query string match:", $(this).text());
									return false;
								}

								// Check for ID in route segment format
								var hrefSegments = href.split('/').filter(function(segment) {
									return segment.length > 0;
								});
								var lastSegment = hrefSegments[hrefSegments.length - 1];
								if (lastSegment === categoryId) {
									$(this).parent().addClass('active');
									categoryFound = true;
									console.log("Set category active by route segment match:", $(this).text());
									return false;
								}
							}
						});

						if (!categoryFound) {
							console.log("No matching category link found for ID:", categoryId);
						}
					}
				} else if (path === '/' || path.toLowerCase().includes('/home')) {
					// Home page is active
					$('.main-nav li:first-child').addClass('active');
					console.log("Set Home as active");
				} else if (fullUrl.includes('#hot-deal')) {
					// Hot deals is active
					$('.main-nav li a[href="#hot-deal"]').parent().addClass('active');
					console.log("Set Hot Deals as active");
				}
			}
		});
	</script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
