
@{
	ViewData["Title"] = "Home Page";
}
@model HomePageVm

<!-- SECTION -->
<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<!-- shop -->
			<div class="col-md-4 col-xs-6">
				<div class="shop">
					<div class="shop-img">
						<img src="./img/shop01.png" alt="">
					</div>
					<div class="shop-body">
						<h3>Laptop<br>Collection</h3>
						<a class="cta-btn" asp-controller="Categories" asp-action="Index" asp-route-id ="2"
						>Shop now <i class="fa fa-arrow-circle-right"></i></a>
					</div>
				</div>
			</div>
			<!-- /shop -->
			<!-- shop -->
			<div class="col-md-4 col-xs-6">
				<div class="shop">
					<div class="shop-img">
						<img src="./img/shop03.png" alt="">
					</div>
					<div class="shop-body">
						<h3>Accessories<br>Collection</h3>
						<a class="cta-btn" asp-controller="Categories" asp-action="Index" asp-route-id="4"
						>Shop now <i class="fa fa-arrow-circle-right"></i></a>
					</div>
				</div>
			</div>
			<!-- /shop -->
			<!-- shop -->
			<div class="col-md-4 col-xs-6">
				<div class="shop">
					<div class="shop-img">
						<img src="./img/shop02.png" alt="">
					</div>
					<div class="shop-body">
						<h3>Cameras<br>Collection</h3>
						<a class="cta-btn" asp-controller="Categories" asp-action="Index" asp-route-id="3"
						>Shop now <i class="fa fa-arrow-circle-right"></i></a>
					</div>
				</div>
			</div>
			<!-- /shop -->
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /SECTION -->
<!-- SECTION -->
<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">

			<!-- section title -->
			<div class="col-md-12">
				<div class="section-title">
					<h3 class="title">New Products</h3>
				</div>
			</div>
			<!-- /section title -->
			<!-- Products tab & slick -->
			<div class="col-md-12">
				<div class="row">
					<div class="products-tabs">
						<!-- tab -->
						<div id="tab1" class="tab-pane active">
							<div class="products-slick" data-nav="#slick-nav-1">

								@foreach (var product in Model.NewProducts)
								{
									<div class="col-md-4 col-xs-6">
										<div class="product">
											<div class="product-img">
												<img src="~/img/@product.Image" alt="">
												<div class="product-label">
													@if (product.HasDiscount)
													{
														<span class="sale">-@(product.Discount)%</span>
													}

													<span class="new">NEW</span>

												</div>
											</div>
											<div class="product-body">
												<p class="product-category">@product.Category.Name</p>
												<a asp-controller="Products" asp-action="Index">
													<h3 class="product-name">@product.Name</h3>
												</a>
												<h4 class="product-price">
													$@product.Price
													@if (product.OldPrice > product.Price)
													{
														<del class="product-old-price">$@product.OldPrice</del>
													}
												</h4>
												<div class="product-rating">
													@for (int i = 0; i < 5; i++)
													{
														if (i < product.Rating)
														{
															<i class="fa fa-star"></i>
														}
														else
														{
															<i class="fa fa-star-o"></i>
														}
													}
												</div>
												<div class="product-btns">
													<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>

												</div>
											</div>
											<div class="add-to-cart">
												<a asp-controller="Cart" asp-action="AddToCart" asp-route-productId="@product.Id"
												   asp-route-price="@product.Price" asp-route-imageUrl="@product.Image" asp-route-ProductName="@product.Name">
												<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
													</a>
											</div>
										</div>
									</div>
								}
							</div>
							<!-- /product -->

						</div>
						<div id="slick-nav-1" class="products-slick-nav"></div>
					</div>
					<!-- /tab -->
				</div>
			</div>
		</div>
		<!-- Products tab & slick -->
	</div>
	<!-- /row -->
</div>
<!-- /container -->
</div>
<!-- /SECTION -->
<!-- HOT DEAL SECTION -->
<div id="hot-deal" class="section" >
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<div class="col-md-12">
				<div class="hot-deal">
					<ul class="hot-deal-countdown">
						<li>
							<div>
								<h3 id="days">02</h3>
								<span>Days</span>
							</div>
						</li>
						<li>
							<div>
								<h3 id="hours">10</h3>
								<span>Hours</span>
							</div>
						</li>
						<li>
							<div>
								<h3 id="minutes">34</h3>
								<span>Mins</span>
							</div>
						</li>
						<li>
							<div>
								<h3 id="seconds">60</h3>
								<span>Secs</span>
							</div>
						</li>
					</ul>
					<h2 class="text-uppercase">hot deal this week</h2>
					<p>New Collection Up to 50% OFF</p>
					<a class="primary-btn cta-btn" href="#">Shop now</a>
				</div>
			</div>
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /HOT DEAL SECTION -->

<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			@if (Model.TopSelling != null && Model.TopSelling.Any())
			{
				var firstColumnFirstSlide = Model.TopSelling.Take(3).ToList();
				var firstColumnSecondSlide = Model.TopSelling.Skip(3).Take(3).ToList();

				var secondColumnFirstSlide = Model.TopSelling.Skip(6).Take(3).ToList();
				var secondColumnSecondSlide = Model.TopSelling.Skip(9).Take(3).ToList();

				var thirdColumnFirstSlide = Model.TopSelling.Skip(12).Take(3).ToList();
				var thirdColumnSecondSlide = Model.TopSelling.Skip(15).Take(3).ToList();

				<!-- First column -->
				<div class="col-md-4 col-xs-6">
					<div class="section-title">
						<h4 class="title">Top selling</h4>
						<div class="section-nav">
							<div id="slick-nav-3" class="products-slick-nav"></div>
						</div>
					</div>

					<div class="products-widget-slick" data-nav="#slick-nav-3">
						<div>
							@foreach (var product in firstColumnFirstSlide)
							{
								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="~/img/@product.Image" alt="@product.Name">
									</div>
									<div class="product-body">
										<p class="product-category">@product.Category.Name</p>
										<h3 class="product-name"><a asp-controller="Products" asp-action="Index" asp-route-id="@product.Id">@product.Name</a></h3>
										@if (product.HasDiscount)
										{
											<h4 class="product-price">$@product.Price <del class="product-old-price">$@product.OldPrice</del></h4>
										}
										else
										{
											<h4 class="product-price">$@product.Price</h4>
										}
									</div>
								</div>
								<!-- /product widget -->
							}
						</div>

						@if (firstColumnSecondSlide.Any())
						{
							<div>
								@foreach (var product in firstColumnSecondSlide)
								{
									<!-- product widget -->
									<div class="product-widget">
										<div class="product-img">
											<img src="~/img/@product.Image" alt="@product.Name">
										</div>
										<div class="product-body">
											<p class="product-category">@product.Category.Name</p>
											<h3 class="product-name"><a asp-controller="Products" asp-action="Index" asp-route-id="@product.Id">@product.Name</a></h3>
											@if (product.HasDiscount)
											{
												<h4 class="product-price">$@product.Price <del class="product-old-price">$@product.OldPrice</del></h4>
											}
											else
											{
												<h4 class="product-price">$@product.Price</h4>
											}
										</div>
									</div>
									<!-- /product widget -->
								}
							</div>
						}
					</div>
				</div>

				<!-- Second column -->
				<div class="col-md-4 col-xs-6">
					<div class="section-title">
						<h4 class="title">Top selling</h4>
						<div class="section-nav">
							<div id="slick-nav-4" class="products-slick-nav"></div>
						</div>
					</div>

					<div class="products-widget-slick" data-nav="#slick-nav-4">
						<div>
							@foreach (var product in secondColumnFirstSlide)
							{
								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="~/img/@product.Image" alt="@product.Name">
									</div>
									<div class="product-body">
										<p class="product-category">@product.Category.Name</p>
										<h3 class="product-name"><a asp-controller="Products" asp-action="Index" asp-route-id="@product.Id">@product.Name</a></h3>
										@if (product.HasDiscount)
										{
											<h4 class="product-price">$@product.Price <del class="product-old-price">$@product.OldPrice</del></h4>
										}
										else
										{
											<h4 class="product-price">$@product.Price</h4>
										}
									</div>
								</div>
								<!-- /product widget -->
							}
						</div>

						@if (secondColumnSecondSlide.Any())
						{
							<div>
								@foreach (var product in secondColumnSecondSlide)
								{
									<!-- product widget -->
									<div class="product-widget">
										<div class="product-img">
											<img src="~/img/@product.Image" alt="@product.Name">
										</div>
										<div class="product-body">
											<p class="product-category">@product.Category.Name</p>
											<h3 class="product-name"><a asp-controller="Products" asp-action="Index" asp-route-id="@product.Id">@product.Name</a></h3>
											@if (product.HasDiscount)
											{
												<h4 class="product-price">$@product.Price <del class="product-old-price">$@product.OldPrice</del></h4>
											}
											else
											{
												<h4 class="product-price">$@product.Price</h4>
											}
										</div>
									</div>
									<!-- /product widget -->
								}
							</div>
						}
					</div>
				</div>

				<div class="clearfix visible-sm visible-xs"></div>

				<!-- Third column -->
				<div class="col-md-4 col-xs-6">
					<div class="section-title">
						<h4 class="title">Top selling</h4>
						<div class="section-nav">
							<div id="slick-nav-5" class="products-slick-nav"></div>
						</div>
					</div>

					<div class="products-widget-slick" data-nav="#slick-nav-5">
						<div>
							@foreach (var product in thirdColumnFirstSlide)
							{
								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="~/img/@product.Image" alt="@product.Name">
									</div>
									<div class="product-body">
										<p class="product-category">@product.Category.Name</p>
										<h3 class="product-name"><a asp-controller="Products" asp-action="Index" asp-route-id="@product.Id">@product.Name</a></h3>
										@if (product.HasDiscount)
										{
											<h4 class="product-price">$@product.Price <del class="product-old-price">$@product.OldPrice</del></h4>
										}
										else
										{
											<h4 class="product-price">$@product.Price</h4>
										}
									</div>
								</div>
								<!-- /product widget -->
							}
						</div>

						@if (thirdColumnSecondSlide.Any())
						{
							<div>
								@foreach (var product in thirdColumnSecondSlide)
								{
									<!-- product widget -->
									<div class="product-widget">
										<div class="product-img">
											<img src="~/img/@product.Image" alt="@product.Name">
										</div>
										<div class="product-body">
											<p class="product-category">@product.Category.Name</p>
											<h3 class="product-name"><a asp-controller="Products" asp-action="Index" asp-route-id="@product.Id">@product.Name</a></h3>
											@if (product.HasDiscount)
											{
												<h4 class="product-price">$@product.Price <del class="product-old-price">$@product.OldPrice</del></h4>
											}
											else
											{
												<h4 class="product-price">$@product.Price</h4>
											}
										</div>
									</div>
									<!-- /product widget -->
								}
							</div>
						}
					</div>
				</div>
			}
			else
			{
				<div class="col-12 text-center">
					<p>No top selling products available at the moment.</p>
				</div>
			}
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /SECTION -->
@section Scripts {
	<script>
		// Set the date to count down to
		const targetDate = new Date("2025-05-17T23:59:59").getTime();

		function updateCountdown() {
			const now = new Date().getTime();
			const diff = targetDate - now;

			if (diff <= 0) {
				document.getElementById("countdown").innerHTML = "Countdown Ended!";
				clearInterval(interval);
				return;
			}

			const days = Math.floor(diff / (1000 * 60 * 60 * 24));
			const hours = Math.floor((diff % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
			const minutes = Math.floor((diff % (1000 * 60 * 60)) / (1000 * 60));
			const seconds = Math.floor((diff % (1000 * 60)) / 1000);

			document.getElementById("days").textContent = String(days).padStart(2, '0');
			document.getElementById("hours").textContent = String(hours).padStart(2, '0');
			document.getElementById("minutes").textContent = String(minutes).padStart(2, '0');
			document.getElementById("seconds").textContent = String(seconds).padStart(2, '0');
		}

		// Update countdown every second
		const interval = setInterval(updateCountdown, 1000);
		updateCountdown(); // Run once at start
	</script>
}