@using TechXpress_DAL.Models
@using TechXpress_PL.ViewModels

@model List<Wishlist>
<link rel="stylesheet" href="~/css/admin-dashboard.css" />

<!-- SECTION -->
<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<!-- Wishlist Products -->
			<div class="col-md-12">
				<div class="wishlist-header">
					<h3 class="title">My Wishlist (@Model.Count)</h3>
				</div>

				<div class="wishlist-items">
					<!-- product -->
					@if (!Model.Any())
					{
						<div class="col-12 text-center py-5" id="empty-wishlist">
							<div class="empty-state">
								<i class="fa fa-heart-o fa-4x text-muted mb-3"></i>
								<h3 class="section-title">Your wishlist is empty</h3>
								<p class="text-muted mb-4">Browse our products and add items to your wishlist</p>
								<a asp-controller="Categories" asp-action="Index" class="primary-btn">Browse Products</a>
							</div>
						</div>
					}
					else
					{

						<div class="product-widget wishlist-item">
							<div class="row">
								@foreach (var item in Model){
									<div class="col-md-4 mb-4 wishlist-item" data-item-id="@item.Id">
										<div class="card h-100">
											@if (!string.IsNullOrEmpty(item.Product.Image))
											{
												<img src="~/img/@item.Product.Image" class="card-img-top" alt="@item.Product.Name">
											}
											<div class="card-body">
												<h5 class="card-title">@item.Product.Name</h5>
												<p class="card-text">@item.Product.Price.ToString("C")</p>
												<div class="d-flex justify-content-between">
													<a  class="btn btn-primary">View Details</a>
													<button class="btn btn-danger remove-from-wishlist" data-id="@item.Id">
														<i class="fa fa-trash"></i> Remove
													</button>
												</div>
											</div>
										</div>
									</div>
								}
							</div>
						</div>
						<!-- /product -->
					}
					<div class="wishlist-divider"></div>

				<div class="wishlist-footer">
					<div class="row">
						<div class="col-md-6 col-xs-12">
							<a href="#" class="primary-btn">Continue Shopping</a>
						</div>
						<div class="col-md-6 col-xs-12 text-right">
							<button class="add-all-to-cart-btn"><i class="fa fa-shopping-cart"></i> Add All to Cart</button>
						</div>
					</div>
				</div>
			</div>
			<!-- /Wishlist Products -->
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
</div>
@* <script> *@
@*    function ConfirmRemoving(a){ *@
@*       const userConfirmed = confirm("Are you sure you want to remove this item from your wishlist?"); *@
@*        if (userConfirmed) { *@
@* 		   window.location.herf = URL; *@
@* 	   } *@
@*    } *@

@* </script> *@

@section Scripts {
	<script src="~/js/wishlist.js"></script>
}