@model ProductDetailsVm
@using System.Linq;



<body>

    <!-- SECTION -->
    <div class="section">
        <div class="container">
            <div class="row">

                <!-- Product main img -->
                <div class="col-md-5 col-md-push-2">
                    
                    <div id="product-main-img">
                      
                            <div class="product-preview">
                                <img src="~/img/@Model.Product.Image" alt="@Model.Product.Name" />
                            </div>
                        
                    </div>
                </div>

                <!-- Product thumb imgs -->
                <div class="col-md-2 col-md-pull-5">
                    <div id="product-imgs">
                        <div class="product-preview">
                            <img src="~/img/@Model.Product.Image" alt="@Model.Product.Name" />
                        </div>
                    </div>
                </div>

                <!-- Product details -->
                <div class="col-md-5">
                    <div class="product-details">
                        <h2 class="product-name">@Model.Product.Name</h2>

                        <div>
                            <div class="product-rating">
                                @for (int i = 1; i <= 5; i++)
                                {
                                    if (i <= Model.Product.Rating)
                                    {
                                        <i class="fa fa-star"></i>
                                    }
                                    else
                                    {
                                        <i class="fa fa-star-o"></i>
                                    }
                                }
                            </div>
                        </div>

                        <div>
                            <h3 class="product-price">
                                @Model.Product.Price.ToString("C")
                                @if (Model.Product.HasDiscount)
                                {
                                    <del class="product-old-price">
                                        @Model.Product.OldPrice.ToString("C")
                                    </del>
                                }
                                
                            </h3>
                            <span class="product-available">
                                @(Model.Product.InStock ? "In Stock" : "Out of Stock")
                            </span>
                        </div>

                        <p>@Model.Product.Description</p>

                        <div class="product-options">
                            <label>
                                Color
                                <select class="input-select">
                                
                                        <option value="1">Red</option>
                                        <option value="1">Blue</option>
                                        <option value="1">Black</option>
                                
                                </select>
                            </label>
                        </div>
                        <a asp-controller="Cart" asp-action="AddToCart" asp-route-productId="@Model.Product.Id">
                           
                            <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
                           </a>
                        </div>

                        <ul class="product-btns">
                            <li>
                                <a class="add-to-wishlist" asp-controller="Wishlist" asp-action="AddItem" asp-route-productId="@Model.Product.Id">
                                <button class="add-to-cart-btn"><i class="fa fa-heart-o"></i> add to Wishlist</button>

                                </a>
                            </li>
                        </ul>

                    </div>
                </div>
                <!-- /Product details -->
                <!-- Tabs (Description, Details, Reviews) -->
                <div class="col-md-12">
                    <div id="product-tab">
                        <!-- nav -->
                        <ul class="tab-nav">
                            <li class="active"><a data-toggle="tab" href="#tab1">Description</a></li>
                            <li><a data-toggle="tab" href="#tab3">Reviews (@Model.Product.Reviews.Count())</a></li>
                        </ul>

                        <!-- content -->
                        <div class="tab-content">
                            <div id="tab1" class="tab-pane fade in active">
                                <div class="row">
                                    <div class="col-md-12">
                                        <p>@Model.Product.Description</p>
                                    </div>
                                </div>
                            </div>

                            <div id="tab3" class="tab-pane fade in">
                                <div class="row">
                                    <!-- Rating summary -->
                                    <div class="col-md-3">
                                        <div id="rating">
                                            <div class="rating-avg">
                                               @* <span>@Model.Product.Rating.Averge().ToString("0.0")</span>*@
                                                @*@<div class="rating-stars">
                                                    @for (int i = 1; i <= 5; i++)
                                                    {
                                                        if (i <= Math.Round(Model.Product.AverageRating))
                                                        {
                                                            <i class="fa fa-star"></i>
                                                        }
                                                        else
                                                        {
                                                            <i class="fa fa-star-o"></i>
                                                        }
                                                    }
                                                </div>*@
                                            </div>
                                           @* <ul class="rating">
                                                @foreach (var group in Model.Product.Reviews
                                                .GroupBy(r => r.Rating)
                                                .OrderByDescending(g => g.Key))
                                                {
                                                    <li>
                                                        <div class="rating-stars">
                                                            @for (int i = 1; i <= 5; i++)
                                                            {
                                                                if (i <= group.Key)
                                                                {
                                                                    <i class="fa fa-star"></i>
                                                                    ;
                                                                }
                                                                else
                                                                {
                                                                    <i class="fa fa-star-o"></i>
                                                                    ;
                                                                }
                                                            }
                                                        </div>
                                                        <div class="rating-progress">
                                                            <div style="width: @(group.Count() * 100.0 / Model.Product.Reviews.Count())%;"></div>
                                                        </div>
                                                        <span class="sum">@group.Count()</span>
                                                    </li>
                                                }
                                            </ul>*@
                                        </div>
                                    </div>
                                    <!-- /Rating -->
                                    <!-- Reviews -->
                                   @* <div class="col-md-6">
                                        <div id="reviews">
                                            <ul class="reviews">
                                                @foreach (var review in Model.Product.Reviews)
                                                {
                                                    <li>
                                                        <div class="review-heading">
                                                            <h5 class="name">@review.UserName</h5>
                                                            <p class="date">@review.Date.ToString("dd MMM yyyy, h:mm tt")</p>
                                                            <div class="review-rating">
                                                                @for (int i = 1; i <= 5; i++)
                                                                {
                                                                    if (i <= review.Rating)
                                                                    {
                                                                        <i class="fa fa-star"></i>
                                                                        ;
                                                                    }
                                                                    else
                                                                    {
                                                                        <i class="fa fa-star-o empty"></i>
                                                                        ;
                                                                    }
                                                                }
                                                            </div>
                                                        </div>
                                                        <div class="review-body">
                                                            <p>@review.Comment</p>
                                                        </div>
                                                    </li>
                                                }
                                            </ul>
                                            <ul class="reviews-pagination">
                                                @* pagination logic 
                                            </ul>
                                        </div>
                                    </div>*@
                                    <!-- /Reviews -->
                                    <!-- Review Form -->
                                    <div class="col-md-3">
                                        <div id="review-form">
                                            <form asp-action="AddReview" asp-route-id="@Model.Product.Id" method="post" class="review-form">
                                                <input name="UserName" class="input" type="text" placeholder="Your Name" />
                                                <input name="Email" class="input" type="email" placeholder="Your Email" />
                                                <textarea name="Comment" class="input" placeholder="Your Review"></textarea>
                                                <div class="input-rating">
                                                    <span>Your Rating: </span>
                                                    <div class="stars">
                                                        @for (int i = 5; i >= 1; i--)
                                                        {
                                                            <input id="star@i" name="Rating" value="@i" type="radio" />
                                                            <label for="star@i"></label>
                                                        }
                                                    </div>
                                                </div>
                                                <button type="submit" class="primary-btn">Submit</button>
                                            </form>
                                        </div>
                                    </div>
                                    <!-- /Review Form -->
                        </div>
                    </div>
                </div>
                <!-- /Product tab -->

            </div>
        </div>
    </div>
    <!-- /SECTION -->
    <!-- Related Products Section -->
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title text-center">
                        <h3 class="title">Related Products</h3>
                    </div>
                </div>

                @foreach (var item in Model.RelatedProducts)
                {
                    <div class="col-md-3 col-xs-6">
                        <div class="product">
                            <div class="product-img">
                                <img src="~/img/@item.Image" alt="@item.Name" />
                                @* لو عندك SalePercentage: *@
                                @if (item.SalesPercentage > 0)
                                {
                                    <div class="product-label">
                                        <span class="sale">-@item.SalesPercentage%</span>
                                    </div>
                                }
                                else if (item.IsNew)
                                {
                                    <div class="product-label">
                                        <span class="new">NEW</span>
                                    </div>
                                }
                            </div>
                            <div class="product-body">
                                <p class="product-category">@item.CategoryName</p>
                                <h3 class="product-name">
                                    <a asp-action="Details" asp-route-id="@item.Id">@item.Name</a>
                                </h3>
                                <h4 class="product-price">
                                    @item.Price.ToString("C")
                                    @if (item.HasDiscount)
                                    {
                                        <del class="product-old-price">@item.OldPrice.ToString("C")</del>
                                    }
                                </h4>
                                <div class="product-rating">
                                    @* Loop على النجوم حسب item.Rating *@
                                </div>
                                <div class="product-btns">
                                    <button class="add-to-wishlist">
                                        <i class="fa fa-heart-o"></i>
                                        <span class="tooltipp">add to wishlist</span>
                                    </button>
                                    
                                </div>
                            </div>
                            <div class="add-to-cart">
                                <button class="add-to-cart-btn">
                                    <i class="fa fa-shopping-cart"></i> add to cart
                                </button>
                            </div>
                        </div>
                    </div>
                }
                <div class="clearfix visible-sm visible-xs"></div>

            </div>
        </div>
    </div>
    <!-- /Related Products Section -->

</body>
